<h1>Posts</h1>
<% @posts.each do |post| %>
    <td><%= post.title %></td></br>
    <td><%= post.body %></td></br>
    <% if !user_signed_in? %>
        <td>Author: Hidden</td></br></br>
    <% end %>
    <% if user_signed_in? %>
        <td><%= post.user.name %></td></br></br>
    <% end %>
<% end %>
<%= link_to "New Post", new_post_url %></br>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></br>
<%= link_to "Sign In", new_user_session_path %>